/* You can add global styles to this file, and also import other style files */
* {
  font-family: 'Roboto', sans-serif;
}

textarea {
  width: 100%;
}

i.red-icon {
  color: red;
}

i.green-icon {
  color: green;
}

table tr:hover {
  cursor: pointer;
}

.inherit {
  font-size: inherit;
}

p {
   white-space: pre-wrap;
}